Repository anexia-it/terraform-provider-anxcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, depscheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golint
        name: go lint
        entry: make go-lint
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: gofmt
        name: go fmt
        entry: make fmt
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: doclint
        name: docs lint
        entry: make docs-lint-fix
        language: system
        require_serial: true
        pass_filenames: false
      - id: depscheck
        name: go mod tidy
        entry: go mod tidy
        language: system
        require_serial: true
        pass_filenames: false
        files: "^go.(mod|sum)$"

Prepare release v0.5.2
  CHANGELOG.md
Due: none

Various dependency updates
  go.mod
  go.sum
Due: depscheck

Use go 1.19
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .go-version
  go.mod
  tools/go.mod
Due: depscheck

Update /tools dependencies & add several nolint:unparam
  anxcloud/data_source_core_location_test.go
  anxcloud/data_source_kubernetes_cluster.go
  anxcloud/provider_test.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/struct_kubernetes.go
  tools/go.mod
  tools/go.sum
Due: golint, gofmt

Use helper/retry package to prepare for terraform-plugin-testing lib
  anxcloud/resource_ip_address.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_network_prefix.go
  anxcloud/resource_virtual_server.go
  anxcloud/resource_vlan.go
Due: golint, gofmt

Various dependency updates and minor retry helper refactor (#130)
  anxcloud/resource_ip_address.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_network_prefix.go
  anxcloud/resource_virtual_server.go
  anxcloud/resource_vlan.go
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Bump codeclimate action version
  .github/workflows/quality.yml
Due: none

Bump codeclimate action version (#132)
  .github/workflows/quality.yml
Due: none

Skip integration tests for dependabot actor and enable workflow_dispatch instead
  .github/workflows/quality.yml
Due: none

Skip integration tests for dependabot actor and enable workflow_dispatch instead (#133)
  .github/workflows/quality.yml
Due: none

Fix linter error
  anxcloud/testutils/environment/environment.go
Due: golint, gofmt

SYSENG-1541: fix virtual server socket calculation
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
  anxcloud/schema_virtual_server.go
Due: golint, gofmt

Prepare release v0.5.3
  CHANGELOG.md
Due: none

Update integration test prefix
  anxcloud/resource_ip_address_test.go
Due: golint, gofmt

Update integration test VLAN
  anxcloud/resource_network_prefix_test.go
Due: golint, gofmt

Update test workflow
  .github/workflows/quality.yml
Due: none

Update dns zone
  anxcloud/data_source_dns_records_test.go
Due: golint, gofmt

Fix Kubernetes Node Pool integration tests
  anxcloud/mock_handler_test.go
  anxcloud/resource_kubernetes_test.go
Due: golint, gofmt

Improve cdns record resource performance
  CHANGELOG.md
  anxcloud/internal/utils/batcher.go
  anxcloud/provider.go
  anxcloud/resource_dns_record.go
  anxcloud/schema_dns_record.go
  docs/resources/dns_record.md
Due: golint, gofmt

CI: upgrade codeclimate-action to 5.0.0 to fix errors
  .github/workflows/quality.yml
Due: none

Prepare release v0.5.4
  CHANGELOG.md
Due: none

CHANGELOG: remove trailing whitespace
  CHANGELOG.md
Due: none

SYSENG-1670: ignore network ip order
  CHANGELOG.md
  anxcloud/schema_virtual_server.go
  anxcloud/struct_virtual_server.go
  anxcloud/struct_virtual_server_test.go
Due: golint, gofmt
