Repository anexia-it/terraform-provider-anxcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, depscheck

golint:
  name: go lint
  entry: make go-lint
  language: system
  require_serial: true
  pass_filenames: false

gofmt:
  name: go fmt
  entry: make fmt
  language: system
  require_serial: true
  pass_filenames: false

depscheck:
  name: go mod tidy
  entry: go mod tidy
  language: system
  require_serial: true
  pass_filenames: false

added changes for connecting to stage instances of the engine
  Makefile
  anxcloud/provider.go
Due: golint, gofmt

Adds resource_object_storage_bucket `object_lock_lifetime`
  anxcloud/resource_object_storage_bucket.go
Due: golint, gofmt

Working POC for s3 implementation
  CHANGELOG.md
  anxcloud/data_source_object_storage_backends.go
  anxcloud/data_source_object_storage_endpoints.go
  anxcloud/data_source_object_storage_regions.go
  anxcloud/provider.go
  anxcloud/resource_object_storage_backend.go
  anxcloud/resource_object_storage_bucket.go
  anxcloud/resource_object_storage_endpoint.go
  anxcloud/resource_object_storage_key.go
  anxcloud/resource_object_storage_region.go
  anxcloud/resource_object_storage_tenant.go
  anxcloud/resource_object_storage_user.go
  anxcloud/schema_object_storage.go
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Bump versions, Go 1.25.1, tf framework
  .github/workflows/quality.yml
  .github/workflows/release.yml
  go.mod
  go.sum
  tools/go.mod
Due: depscheck

Bump go-anxcloud version to v0.9.0-alpha
  go.mod
  go.sum
Due: depscheck

add S3 (#275)
  .github/workflows/quality.yml
  .github/workflows/release.yml
  CHANGELOG.md
  anxcloud/data_source_object_storage_backends.go
  anxcloud/data_source_object_storage_endpoints.go
  anxcloud/data_source_object_storage_regions.go
  anxcloud/provider.go
  anxcloud/resource_object_storage_backend.go
  anxcloud/resource_object_storage_bucket.go
  anxcloud/resource_object_storage_endpoint.go
  anxcloud/resource_object_storage_key.go
  anxcloud/resource_object_storage_region.go
  anxcloud/resource_object_storage_tenant.go
  anxcloud/resource_object_storage_user.go
  anxcloud/schema_object_storage.go
  go.mod
  go.sum
  tools/go.mod
Due: golint, gofmt, depscheck

Update release.yml
  .github/workflows/release.yml
Due: none

Update release.yml (#277)
  .github/workflows/release.yml
Due: none

update go-anxcloud dependency, improve bucket handling
  anxcloud/resource_object_storage_bucket.go
  anxcloud/resource_object_storage_key.go
  anxcloud/resource_object_storage_region.go
  anxcloud/resource_object_storage_tenant.go
  anxcloud/resource_object_storage_user.go
  anxcloud/schema_object_storage.go
  go.mod
  go.sum
Due: golint, gofmt, depscheck

fix: update dependencies for security and stability
  go.mod
  go.sum
Due: depscheck

test: add E2E test setup for CloudDNS import functionality
  test-clouddns-import/.gitignore
  test-clouddns-import/.terraform.lock.hcl
  test-clouddns-import/README.md
  test-clouddns-import/main.tf
  test-clouddns-import/test-import.sh
Due: none

docs: add quick start guide for E2E testing
  test-clouddns-import/QUICKSTART.md
Due: none

chore: update version numbers to 0.7.5-dev and go-anxcloud to v0.9.2-alpha
  Makefile
  go.mod
  go.sum
  test-clouddns-import/QUICKSTART.md
  test-clouddns-import/main.tf
  test-clouddns-import/test-import.sh
Due: depscheck

feat: add OpenTofu support to test script
  test-clouddns-import/test-import.sh
Due: none

docs: update documentation to mention OpenTofu support
  test-clouddns-import/QUICKSTART.md
  test-clouddns-import/README.md
Due: none

feat: implement custom import function for CloudDNS records
  Spec/Chunks/IMPORT_RESEARCH_SUMMARY.md
  Spec/Chunks/README_IMPORT_RESEARCH.md
  Spec/Chunks/anxcloud_dns_import_recommendation.md
  Spec/Chunks/dependency_analysis.md
  Spec/Chunks/dns_import_research.md
  Spec/Chunks/import_comparison_table.md
  Spec/Chunks/import_flow_diagram.md
  anxcloud/resource_dns_record.go
  test-clouddns-import/.terraform.lock.hcl
  test-clouddns-import/.versions
  test-clouddns-import/QUICKSTART.md
  test-clouddns-import/README.md
  test-clouddns-import/test-import.sh
  test-clouddns-import/tfplan
Due: golint, gofmt

fix: resolve local provider checksum verification issues
  test-clouddns-import/QUICKSTART.md
  test-clouddns-import/README.md
  test-clouddns-import/dev.tfrc
  test-clouddns-import/main.tf
  test-clouddns-import/setup.sh
  test-clouddns-import/test-import.sh
Due: none

fix: resolve provider loading issues with dev_overrides
  Makefile
  test-clouddns-import/test-import.sh
Due: none

docs: update README with development testing instructions
  test-clouddns-import/.terraform.lock.hcl
  test-clouddns-import/README.md
  test-clouddns-import/test-import.sh
  test-clouddns-import/tfplan
Due: none

feat: implement DNS record in-place updates
  Spec/Backlog/dns_record_update_improvements.md
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_test.go
  anxcloud/schema_dns_record.go
  test-clouddns-import/main.tf
  test-clouddns-import/plan
Due: golint, gofmt

change: fixes clouddns resource handling to allow zone/record import
  CHANGELOG.md
  Makefile
  anxcloud/data_source_dns_records.go
  anxcloud/provider.go
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_batch.go
  anxcloud/resource_dns_record_coordinator.go
  anxcloud/resource_dns_record_coordinator_test.go
  anxcloud/resource_dns_record_helpers.go
  anxcloud/resource_dns_record_helpers_test.go
  anxcloud/resource_dns_record_matching.go
  anxcloud/resource_dns_record_matching_test.go
  anxcloud/resource_dns_record_test.go
  anxcloud/resource_dns_zone.go
  anxcloud/schema_dns_record.go
  anxcloud/schema_dns_zone.go
  anxcloud/struct_dns_records.go
  anxcloud/struct_dns_records_test.go
  anxcloud/utils_test.go
  docs/resources/dns_record.md
  examples/dns-zone-records-import/README.md
  examples/dns-zone-records-import/generate-import-blocks.sh
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Improve handling of resource dns zone import behavior
  anxcloud/resource_dns_zone.go
  anxcloud/resource_dns_zone_test.go
  examples/dns-zone-records-import/README.md
  examples/dns-zone-records-import/generate-import-blocks.sh
Due: golint, gofmt

Add DNS record import tests and documentation
  anxcloud/resource_dns_record_test.go
  docs/resources/dns_record.md
  examples/dns-zone-records-import/README.md
Due: golint, gofmt

Enhance DNS record import with UUID validation, fallback warnings, and improved error guidance
  anxcloud/resource_dns_record.go
Due: golint, gofmt

fix: object_storage_key, secret was replaced by secret_url
  anxcloud/resource_object_storage_key.go
  anxcloud/resource_object_storage_key_test.go
Due: golint, gofmt

Add ip_address resource rdns
  CHANGELOG.md
  anxcloud/data_source_ip_address.go
  anxcloud/resource_ip_address.go
  anxcloud/schema_ip_address.go
  anxcloud/struct_ip_address.go
  anxcloud/struct_ip_address_test.go
  docs/resources/ip_address.md
  go.mod
  go.sum
Due: golint, gofmt, depscheck

add Availability Zones support
  CHANGELOG.md
  anxcloud/data_source_availabilityzone.go
  anxcloud/provider.go
  anxcloud/resource_virtual_server.go
  anxcloud/schema_virtual_server.go
  docs/data-sources/availability_zone.md
  docs/resources/virtual_server.md
  examples/data-sources/anxcloud_availability_zone/data-source.tf
  examples/resources/anxcloud_virtual_server/resource.tf
  go.mod
  go.sum
Due: golint, gofmt, depscheck

fix docs linting error (whitespace)
  docs/data-sources/availability_zone.md
  docs/resources/virtual_server.md
  examples/data-sources/anxcloud_availability_zone/data-source.tf
  examples/resources/anxcloud_virtual_server/resource.tf
Due: none

chore: update GitHub Actions to v6/v7 and fix GoReleaser deprecation
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .goreleaser.yml
  docs/todos/deprecations-2026-04-07.md
Due: none

docs: add PR body template
  .github/PR-body.md
Due: none

chore: update GitHub Actions to v6/v7 and fix GoReleaser deprecation
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

add 'format: zip' to .goreleaser
  .goreleaser.yml
Due: none

add comment to DNS Record
  CHANGELOG.md
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_test.go
  anxcloud/schema_dns_record.go
  go.mod
  go.sum
Due: golint, gofmt, depscheck

update libs
  go.mod
  go.sum
Due: depscheck

add notification to quality.yml
  .github/workflows/quality.yml
Due: none

resource/ip_address: retry delete on transient 'still assigned to a resource' conflict
  anxcloud/resource_ip_address.go
Due: golint, gofmt

Path conditions:
  golint: any of: \.go$
  gofmt: any of: \.go$
  depscheck: any of: ^go.(mod|sum)$
