Repository anexia-it/terraform-provider-anxcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, depscheck

golint:
  name: go lint
  entry: make go-lint
  language: system
  require_serial: true
  pass_filenames: false

gofmt:
  name: go fmt
  entry: make fmt
  language: system
  require_serial: true
  pass_filenames: false

depscheck:
  name: go mod tidy
  entry: go mod tidy
  language: system
  require_serial: true
  pass_filenames: false

Revert changes to terraform-plugin-framework
  go.mod
  go.sum
Due: depscheck

Include changes from PR #177 and #184
  go.mod
  go.sum
Due: depscheck

Use multierror for DNS field errors
  anxcloud/resource_dns_record.go
  go.mod
Due: golint, gofmt, depscheck

Implement bandwidth_limit
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
  anxcloud/schema_virtual_server.go
  anxcloud/struct_virtual_server.go
  anxcloud/struct_virtual_server_test.go
Due: golint, gofmt

Add changelog entry and update examples
  CHANGELOG.md
  examples/resources/anxcloud_virtual_server/resource.tf
Due: none

Update docs to reflect added fields
  docs/resources/virtual_server.md
Due: none

Update go-anxcloud to v0.7.5 to fix some of the integration tests
  go.mod
  go.sum
Due: depscheck

Address feedback
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

Make integration tests explicitly set the `bandwidth_limit` to the default value
  anxcloud/resource_virtual_server_test.go
Due: golint, gofmt

Bump go-anxcloud to v0.7.5
  go.mod
  go.sum
Due: depscheck

Bump `go-anxcloud` to `v0.7.6`
  go.mod
  go.sum
Due: depscheck

SYSENG-1806: Implement setting `bandwidth_limit` on vm networks
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
  anxcloud/schema_virtual_server.go
  anxcloud/struct_virtual_server.go
  anxcloud/struct_virtual_server_test.go
  docs/resources/virtual_server.md
  examples/resources/anxcloud_virtual_server/resource.tf
  go.mod
Due: golint, gofmt, depscheck

SYSENG-1814 add ChangeLog entry
  CHANGELOG.md
Due: none

SYSENG-1814 ignore empty template_id from Engine
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
Due: golint, gofmt

SYSENG-1814 ignore empty template_id from Engine (#208)
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
Due: golint, gofmt

Make myself the component lead
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

SYSENG-1839: add CHANGELOG entry
  CHANGELOG.md
Due: none

Update anxcloud/schema_kubernetes.go
  anxcloud/schema_kubernetes.go
Due: golint, gofmt

SYSENG-1839: add support for apiserver_allowlist during cluster creation.
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
Due: golint, gofmt

SYSENG-1839: add support for apiserver_allowlist (#228)
  CHANGELOG.md
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
Due: golint, gofmt

Remove codeclimate in favor of golangci-lint
  .codeclimate.yml
  .github/workflows/quality.yml
Due: none

Prepare CHANGELOG for v0.7.0 release
  CHANGELOG.md
  docs/resources/kubernetes_cluster.md
Due: none

Update kubernetes cluster docs to add new optional `apiserver_allowlist` and mention known limitations.
  docs/resources/kubernetes_cluster.md
Due: none

Prepare release 0.6.6
  CHANGELOG.md
Due: none

SYSENG-1847: update golang.org/x/net due to CVE-2024-45338
  go.mod
  go.sum
  tools/go.mod
Due: depscheck

SYSENG-1847: update changelog
  CHANGELOG.md
Due: none

SYSENG-1847: update golang/x/net to 0.33.0
  CHANGELOG.md
  go.mod
  go.sum
  tools/go.mod
Due: depscheck

SYSENG-1847: update golang/x/net to 0.33.0 (#239)
  CHANGELOG.md
  go.mod
  go.sum
  tools/go.mod
Due: depscheck

Make myself the component lead (#225)
  .github/CODEOWNERS
  .github/dependabot.yml
Due: none

Remove codeclimate in favor of golangci-lint (#226)
  .codeclimate.yml
  .github/workflows/quality.yml
Due: none

Use CODEOWNERS file in favor of Dependabot reviewers
  .github/CODEOWNERS
Due: none

Use current stable Go version in GH Actions
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: none

added changes for connecting to dev instances of the engine
  Makefile
  anxcloud/provider.go
Due: golint, gofmt

Path conditions:
  golint: any of: \.go$
  gofmt: any of: \.go$
  depscheck: any of: ^go.(mod|sum)$
