Repository anexia-it/terraform-provider-anxcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, depscheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golint
        name: go lint
        entry: make go-lint
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: gofmt
        name: go fmt
        entry: make fmt
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: doclint
        name: docs lint
        entry: make docs-lint-fix
        language: system
        require_serial: true
        pass_filenames: false
      - id: depscheck
        name: go mod tidy
        entry: go mod tidy
        language: system
        require_serial: true
        pass_filenames: false
        files: "^go.(mod|sum)$"

Add pre-commit config (#110)
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

Increase `anxcloud_virtual_server` resource delete timeout
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

Increase `anxcloud_virtual_server` resource delete timeout (#112)
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

Add VM provisioning completion delay
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

Add VM provisioning completion delay (#111)
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

Configure parallel integration tests
  CHANGELOG.md
  anxcloud/data_source_core_location_test.go
  anxcloud/data_source_core_locations_test.go
  anxcloud/data_source_cpu_performance_types_test.go
  anxcloud/data_source_disk_types_test.go
  anxcloud/data_source_dns_records_test.go
  anxcloud/data_source_dns_zones_test.go
  anxcloud/data_source_ip_address_test.go
  anxcloud/data_source_ips_test.go
  anxcloud/data_source_nic_type_test.go
  anxcloud/data_source_tags_test.go
  anxcloud/data_source_template_test.go
  anxcloud/data_source_vlans_test.go
  anxcloud/provider_test.go
  anxcloud/resource_dns_record_test.go
  anxcloud/resource_dns_zone_test.go
  anxcloud/resource_ip_address_test.go
  anxcloud/resource_network_prefix_test.go
  anxcloud/resource_tag_test.go
  anxcloud/resource_virtual_server_test.go
  anxcloud/resource_vlan_test.go
Due: golint, gofmt

Remove redundant anxcloud_virtual_server resource test
  anxcloud/resource_virtual_server_test.go
Due: golint, gofmt

Added enhanced v-server tag operation tests
  CHANGELOG.md
  anxcloud/common_resource_tagging_test.go
  anxcloud/resource_virtual_server_test.go
Due: golint, gofmt

Configure parallel integration tests (#102)
  CHANGELOG.md
  anxcloud/common_resource_tagging_test.go
  anxcloud/data_source_core_location_test.go
  anxcloud/data_source_core_locations_test.go
  anxcloud/data_source_cpu_performance_types_test.go
  anxcloud/data_source_disk_types_test.go
  anxcloud/data_source_dns_records_test.go
  anxcloud/data_source_dns_zones_test.go
  anxcloud/data_source_ip_address_test.go
  anxcloud/data_source_ips_test.go
  anxcloud/data_source_nic_type_test.go
  anxcloud/data_source_tags_test.go
  anxcloud/data_source_template_test.go
  anxcloud/data_source_vlans_test.go
  anxcloud/provider_test.go
  anxcloud/resource_dns_record_test.go
  anxcloud/resource_dns_zone_test.go
  anxcloud/resource_ip_address_test.go
  anxcloud/resource_network_prefix_test.go
  anxcloud/resource_tag_test.go
  anxcloud/resource_virtual_server_test.go
  anxcloud/resource_vlan_test.go
Due: golint, gofmt

Implement lbaasv1.LoadBalancer resource
  anxcloud/provider.go
  anxcloud/resource_lbaas_loadbalancer.go
  anxcloud/resource_lbaas_loadbalancer_test.go
  anxcloud/schema_lbaas.go
  docs/resources/lbaas_loadbalancer.md
Due: golint, gofmt

Add loadbalancer example
  CHANGELOG.md
  anxcloud/resource_lbaas_loadbalancer.go
  anxcloud/schema_lbaas.go
  docs/resources/lbaas_loadbalancer.md
  examples/resources/anxcloud_lbaas_loadbalancer/resource.tf
Due: golint, gofmt

Enable parallel tests for `anxcloud_lbaas_loadbalancer` resource
  anxcloud/resource_lbaas_loadbalancer_test.go
Due: golint, gofmt

Implement lbaasv1.LoadBalancer resource (#107)
  CHANGELOG.md
  anxcloud/provider.go
  anxcloud/resource_lbaas_loadbalancer.go
  anxcloud/resource_lbaas_loadbalancer_test.go
  anxcloud/schema_lbaas.go
  docs/resources/lbaas_loadbalancer.md
  examples/resources/anxcloud_lbaas_loadbalancer/resource.tf
Due: golint, gofmt

Increase virtual server resource delete timeout
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

Increase virtual server resource delete timeout (#113)
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

Fix VM provisioning with templates of type `from_scratch`
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
  go.mod
Due: golint, gofmt, depscheck

Fix VM provisioning with templates of type `from_scratch` (#114)
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
  go.mod
Due: golint, gofmt, depscheck

Prepare release v0.4.1
  CHANGELOG.md
Due: none

Prepare release v0.4.1 (#115)
  CHANGELOG.md
Due: none

Optimize `anxcloud_core_location` datasource
  CHANGELOG.md
  anxcloud/data_source_core_location.go
  anxcloud/data_source_core_location_test.go
  docs/data-sources/core_location.md
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Optimize `anxcloud_core_location` datasource (#116)
  CHANGELOG.md
  anxcloud/data_source_core_location.go
  anxcloud/data_source_core_location_test.go
  docs/data-sources/core_location.md
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Fix read-tags error for manually deleted resources
  CHANGELOG.md
  anxcloud/common_resource_tagging.go
Due: golint, gofmt

Fix read-tags error for manually deleted resources (#117)
  CHANGELOG.md
  anxcloud/common_resource_tagging.go
Due: golint, gofmt

Prepare release v0.4.2
  CHANGELOG.md
Due: none

Implement Kubernetes resources and data sources
  .github/workflows/quality.yml
  CHANGELOG.md
  anxcloud/data_source_kubernetes_cluster.go
  anxcloud/mock_handler_test.go
  anxcloud/provider.go
  anxcloud/provider_test.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_kubeconfig.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  anxcloud/utils.go
  docs/data-sources/kubernetes_cluster.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_kubeconfig.md
  docs/resources/kubernetes_node_pool.md
  examples/data-sources/anxcloud_kubernetes_cluster/data-source.tf
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
  examples/resources/anxcloud_kubernetes_kubeconfig/resource.tf
  examples/resources/anxcloud_kubernetes_node_pool/resource.tf
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Implement Kubernetes resources and data sources (#118)
  .github/workflows/quality.yml
  CHANGELOG.md
  anxcloud/data_source_kubernetes_cluster.go
  anxcloud/mock_handler_test.go
  anxcloud/provider.go
  anxcloud/provider_test.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_kubeconfig.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  anxcloud/utils.go
  docs/data-sources/kubernetes_cluster.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_kubeconfig.md
  docs/resources/kubernetes_node_pool.md
  examples/data-sources/anxcloud_kubernetes_cluster/data-source.tf
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
  examples/resources/anxcloud_kubernetes_kubeconfig/resource.tf
  examples/resources/anxcloud_kubernetes_node_pool/resource.tf
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Prepare release v0.5.0
  CHANGELOG.md
Due: none

Prepare release v0.5.0 (#120)
  CHANGELOG.md
Due: none

Refine tag middleware: prevent noop call and fix type
  CHANGELOG.md
  anxcloud/common_resource_tagging.go
  docs/resources/ip_address.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_node_pool.md
  docs/resources/lbaas_loadbalancer.md
  docs/resources/network_prefix.md
  docs/resources/virtual_server.md
Due: golint, gofmt

Refine tag middleware: prevent noop call and fix type (#121)
  CHANGELOG.md
  anxcloud/common_resource_tagging.go
  docs/resources/ip_address.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_node_pool.md
  docs/resources/lbaas_loadbalancer.md
  docs/resources/network_prefix.md
  docs/resources/virtual_server.md
Due: golint, gofmt

Prepare release v0.5.1
  CHANGELOG.md
Due: none

Prepare release v0.5.1 (#122)
  CHANGELOG.md
Due: none

Disable integration tests for PRs in draft state
  .github/workflows/quality.yml
Due: none

Disable integration tests for PRs in draft state (#124)
  .github/workflows/quality.yml
Due: none

Replace reserve IP address integration test prefix and address
  anxcloud/resource_ip_address_test.go
Due: golint, gofmt

Make Kubernetes cluster prefixes configurable
  CHANGELOG.md
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  docs/data-sources/kubernetes_cluster.md
  docs/resources/kubernetes_cluster.md
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Add mock tests
  .codeclimate.yml
  anxcloud/internal/mockapi/api.go
  anxcloud/internal/mockapi/generate.go
  anxcloud/resource_kubernetes_test.go
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Make Kubernetes cluster prefixes configurable (#123)
  .codeclimate.yml
  CHANGELOG.md
  anxcloud/internal/mockapi/api.go
  anxcloud/internal/mockapi/generate.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  docs/data-sources/kubernetes_cluster.md
  docs/resources/kubernetes_cluster.md
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
  go.mod
  go.sum
Due: golint, gofmt, depscheck
