Repository anexia-it/terraform-provider-anxcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, depscheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golint
        name: go lint
        entry: make go-lint
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: gofmt
        name: go fmt
        entry: make fmt
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: doclint
        name: docs lint
        entry: make docs-lint-fix
        language: system
        require_serial: true
        pass_filenames: false
      - id: depscheck
        name: go mod tidy
        entry: go mod tidy
        language: system
        require_serial: true
        pass_filenames: false
        files: "^go.(mod|sum)$"

accept DualStack with capital S instead of lower case
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  docs/data-sources/kubernetes_cluster.md
  docs/resources/kubernetes_cluster.md
  tests/e2e/kubernetes/variables.tf
Due: golint, gofmt

print error message on failed requests
  anxcloud/resource_kubernetes_test.go
  anxcloud/struct_kubernetes.go
Due: golint, gofmt

ensure mandatory nodepool fields are set during create
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_test.go
Due: golint, gofmt

ensure manage_external_ipv6_prefix is false if DualStack is not enabled
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_test.go
Due: golint, gofmt

add changelog
  CHANGELOG.md
Due: none

fix: accept DualStack with capital S instead of lower case and set external_ipv6_prefix managed to false if not DualStack (#329)
  CHANGELOG.md
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  docs/data-sources/kubernetes_cluster.md
  docs/resources/kubernetes_cluster.md
  tests/e2e/kubernetes/variables.tf
Due: golint, gofmt

tests: clean prefixes
  anxcloud/setup_test.go
Due: golint, gofmt

only run when token is present
  anxcloud/setup_test.go
Due: golint, gofmt

Unit tests cleanup prefixes (#333)
  anxcloud/setup_test.go
Due: golint, gofmt

bump dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Due: depscheck

go version 1.26.6
  go.mod
Due: depscheck

Dependencies 2026-11-15 (#336)
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Due: depscheck

dependencies
  go.mod
  go.sum
Due: depscheck
