Repository anexia-it/terraform-provider-anxcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, depscheck

golint:
  name: go lint
  entry: make go-lint
  language: system
  require_serial: true
  pass_filenames: false

gofmt:
  name: go fmt
  entry: make fmt
  language: system
  require_serial: true
  pass_filenames: false

depscheck:
  name: go mod tidy
  entry: go mod tidy
  language: system
  require_serial: true
  pass_filenames: false

SYSENG-1670: ignore network ip order
  CHANGELOG.md
  anxcloud/schema_virtual_server.go
  anxcloud/struct_virtual_server.go
  anxcloud/struct_virtual_server_test.go
Due: golint, gofmt

Prepare release v0.5.5
  CHANGELOG.md
Due: none

Update go dependencies
  .github/workflows/quality.yml
  .github/workflows/release.yml
  go.mod
  go.sum
Due: depscheck

Remove deprecated linters which have been replaced by the 'unused' linter
  .golangci.yml
Due: none

Fix go-anxcloud testutils initialization
  anxcloud/setup_test.go
Due: golint, gofmt

Update go version to 1.21
  tools/go.mod
Due: none

SYSENG-1656: refactor disk handling
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
  anxcloud/struct_virtual_server.go
Due: golint, gofmt

SYSENG-1726: initialize terraform-plugin-framework
  Makefile
  anxcloud/provider.go
  anxcloud/provider_test.go
  go.mod
  go.sum
  internal/provider/provider.go
  main.go
  terraform-registry-manifest.json
Due: golint, gofmt, depscheck

SYSENG-1727: rework anxcloud_virtual_server resource
  CHANGELOG.md
  anxcloud/common_resource_tagging_test.go
  anxcloud/helper_test.go
  anxcloud/provider.go
  anxcloud/resource_virtual_server.go
  anxcloud/resource_virtual_server_test.go
  anxcloud/schema_virtual_server.go
  anxcloud/struct_virtual_server.go
  anxcloud/struct_virtual_server_test.go
  anxcloud/testutils/environment/environment.go
  docs/data-sources/virtual_server_template.md
  docs/index.md
  docs/resources/virtual_server.md
  examples/data-sources/anxcloud_virtual_server_template/data-source.tf
  examples/provider/provider.tf
  examples/resources/anxcloud_virtual_server/resource.tf
  go.mod
  go.sum
  internal/provider/customtypes/cpu_performance_type_string.go
  internal/provider/customtypes/hostname_string.go
  internal/provider/planmodifiers/keep_ip_address_order.go
  internal/provider/planmodifiers/string_modifiers.go
  internal/provider/provider.go
  internal/provider/provider_test.go
  internal/provider/setup_test.go
  internal/provider/tag_utils.go
  internal/provider/validators/ip_address.go
  internal/provider/virtual_server_resource.go
  internal/provider/virtual_server_resource_schema.go
  internal/provider/virtual_server_resource_test.go
  internal/provider/virtual_server_template_data_source.go
  internal/provider/virtual_server_utils.go
  internal/utils/utils.go
Due: golint, gofmt, depscheck

SYSENG-1658: add e5e resources
  CHANGELOG.md
  anxcloud/internal/apis/e5e/v1/helper.go
  anxcloud/provider.go
  anxcloud/resource_e5e_application.go
  anxcloud/resource_e5e_function.go
  anxcloud/resource_e5e_test.go
  docs/resources/e5e_application.md
  docs/resources/e5e_function.md
  examples/resources/anxcloud_e5e_application/resource.tf
  examples/resources/anxcloud_e5e_function/resource.tf
  go.mod
  go.sum
Due: golint, gofmt, depscheck

SYSENG-1659: add frontier resources
  CHANGELOG.md
  anxcloud/provider.go
  anxcloud/resource_frontier_action.go
  anxcloud/resource_frontier_api.go
  anxcloud/resource_frontier_deployment.go
  anxcloud/resource_frontier_endpoint.go
  anxcloud/resource_frontier_test.go
  docs/resources/frontier_action.md
  docs/resources/frontier_api.md
  docs/resources/frontier_deployment.md
  docs/resources/frontier_endpoint.md
  examples/resources/anxcloud_frontier_action/resource.tf
  examples/resources/anxcloud_frontier_api/resource.tf
  examples/resources/anxcloud_frontier_deployment/resource.tf
  examples/resources/anxcloud_frontier_endpoint/resource.tf
Due: golint, gofmt

Add example using e5e & frontier
  docs/guides/e5e-frontier-example.md
Due: none

Improve e5e/frontier guide wording
  docs/guides/e5e-frontier-example.md
Due: none

Prepare release v0.6.0
  CHANGELOG.md
Due: none

Add sleep in frontier integration tests
  anxcloud/resource_frontier_test.go
Due: golint, gofmt

Fix cpu_performance_type in integration tests
  anxcloud/resource_virtual_server_test.go
Due: golint, gofmt

Add missing change to CHANGELOG
  CHANGELOG.md
Due: none

Pepare release v0.6.0 (#157)
  CHANGELOG.md
  anxcloud/resource_frontier_test.go
  anxcloud/resource_virtual_server_test.go
  docs/guides/e5e-frontier-example.md
Due: golint, gofmt

Add provider manifest file to goreleaser output
  .goreleaser.yml
Due: none

Prepare release v0.6.1
  CHANGELOG.md
Due: none

Enable autoscaling for AKE clusters
  CHANGELOG.md
  anxcloud/mock_handler_test.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  docs/data-sources/kubernetes_cluster.md
  docs/resources/kubernetes_cluster.md
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Fix kubernetes related integration tests
  CHANGELOG.md
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_test.go
Due: golint, gofmt

Prepare v0.6.2 release
  CHANGELOG.md
Due: none

SYSENG-1335: reserve available addresses
  CHANGELOG.md
  anxcloud/data_source_ip_address.go
  anxcloud/provider.go
  anxcloud/resource_ip_address.go
  anxcloud/resource_ip_address_test.go
  anxcloud/schema_ip_address.go
  docs/resources/ip_address.md
  examples/resources/anxcloud_ip_address/resource.tf
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Update integration tests in regards to the KVM migration
  anxcloud/resource_virtual_server_test.go
  anxcloud/struct_virtual_server_test.go
  docs/data-sources/ip_address.md
  docs/index.md
  docs/resources/virtual_server.md
  examples/data-sources/anxcloud_ip_address/data-source.tf
  examples/main.tf
  examples/provider/provider.tf
  examples/resources/anxcloud_virtual_server/resource.tf
Due: golint, gofmt

Path conditions:
  golint: any of: \.go$
  gofmt: any of: \.go$
  depscheck: any of: ^go.(mod|sum)$
