Repository anexia-it/terraform-provider-anxcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, depscheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golint
        name: go lint
        entry: make go-lint
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: gofmt
        name: go fmt
        entry: make fmt
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: doclint
        name: docs lint
        entry: make docs-lint-fix
        language: system
        require_serial: true
        pass_filenames: false
      - id: depscheck
        name: go mod tidy
        entry: go mod tidy
        language: system
        require_serial: true
        pass_filenames: false
        files: "^go.(mod|sum)$"

SYSENG-1335: reserve available addresses
  CHANGELOG.md
  anxcloud/data_source_ip_address.go
  anxcloud/provider.go
  anxcloud/resource_ip_address.go
  anxcloud/resource_ip_address_test.go
  anxcloud/schema_ip_address.go
  docs/resources/ip_address.md
  examples/resources/anxcloud_ip_address/resource.tf
  go.mod
  go.sum
Due: golint, gofmt, depscheck

Update integration tests in regards to the KVM migration
  anxcloud/resource_virtual_server_test.go
  anxcloud/struct_virtual_server_test.go
  docs/data-sources/ip_address.md
  docs/index.md
  docs/resources/virtual_server.md
  examples/data-sources/anxcloud_ip_address/data-source.tf
  examples/main.tf
  examples/provider/provider.tf
  examples/resources/anxcloud_virtual_server/resource.tf
Due: golint, gofmt

Fix ip address reserve race condition
  anxcloud/resource_ip_address.go
Due: golint, gofmt

Refactor anxcloud_ip_address resources create handler to decrease complexity
  anxcloud/resource_ip_address.go
Due: golint, gofmt

Prepare v0.6.3 release
  CHANGELOG.md
  anxcloud/resource_ip_address.go
Due: golint, gofmt

Refactor anxcloud_ip_address resource
  anxcloud/resource_ip_address.go
Due: golint, gofmt

TestAccAnxCloudIPAddressReserveAvailable: use location from test environment
  anxcloud/resource_ip_address_test.go
Due: golint, gofmt

Rename linters to correct version
  .golangci.yml
Due: none

Upgrade go-anxcloud to v0.7.2
  go.mod
  go.sum
Due: depscheck

Implement anxcloud_vlan datasource
  CHANGELOG.md
  anxcloud/data_source_vlan.go
  anxcloud/data_source_vlan_test.go
  anxcloud/provider.go
  docs/data-sources/vlan.md
  examples/data-sources/anxcloud_vlan/data-source.tf
Due: golint, gofmt

Split up VLAN fetching to satisfy CodeClimate
  anxcloud/data_source_vlan.go
  anxcloud/data_source_vlan_test.go
Due: golint, gofmt

Refactor anxcloud_ip_address resources
  anxcloud/resource_ip_address.go
Due: golint, gofmt

Prepare v0.6.3 release
  CHANGELOG.md
Due: none

Fix goreleaser config
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

chore: update all tools to the newest version
  tools/go.mod
  tools/go.sum
Due: none

chore: adjust document targets in Makefile for current workflow
  Makefile
Due: none

docs: rewrite the overview
  examples/getting-started.tf
  templates/index.md.tmpl
Due: none

ci: update GoReleaser to version 2
  .github/workflows/release.yml
  .goreleaser.yml
Due: none

Prepare CHANGELOG for v0.6.4 release
  CHANGELOG.md
Due: none

Fix CPU socket scaling
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

Fix virtual server sockets documentation
  anxcloud/schema_virtual_server.go
  docs/resources/virtual_server.md
Due: golint, gofmt

Handle missing VM info more gracefully to prevent division by zero panic
  CHANGELOG.md
  anxcloud/resource_virtual_server.go
Due: golint, gofmt

chore: coordinate dependabot updates for operator of the week
  .github/dependabot.yml
Due: none

Revert changes to terraform-plugin-framework
  go.mod
  go.sum
Due: depscheck
