Repository anexia-it/terraform-provider-anxcloud: changes, and which pre-commit hooks are due for each by the changed paths.
All: golint, gofmt, depscheck

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golint
        name: go lint
        entry: make go-lint
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: gofmt
        name: go fmt
        entry: make fmt
        language: system
        require_serial: true
        pass_filenames: false
        files: '\.go$'
      - id: doclint
        name: docs lint
        entry: make docs-lint-fix
        language: system
        require_serial: true
        pass_filenames: false
      - id: depscheck
        name: go mod tidy
        entry: go mod tidy
        language: system
        require_serial: true
        pass_filenames: false
        files: "^go.(mod|sum)$"

fix tests
  anxcloud/data_source_dns_records_test.go
  anxcloud/data_source_vlan_test.go
  anxcloud/resource_ip_address_test.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/resource_network_prefix_test.go
  anxcloud/resource_virtual_server_test.go
Due: golint, gofmt

fix linting
  anxcloud/mock_handler_test.go
  anxcloud/provider_test.go
  anxcloud/resource_network_prefix_test.go
Due: golint, gofmt

new vlan for tests
  .github/workflows/quality.yml
Due: none

go mod tidy
  go.mod
Due: depscheck

Fix tests (#305)
  .github/workflows/quality.yml
  anxcloud/data_source_dns_records_test.go
  anxcloud/data_source_vlan_test.go
  anxcloud/mock_handler_test.go
  anxcloud/provider_test.go
  anxcloud/resource_ip_address_test.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/resource_network_prefix_test.go
  anxcloud/resource_virtual_server_test.go
  go.mod
Due: golint, gofmt, depscheck

Run Quality action daily
  .github/workflows/quality.yml
Due: none

bump dependencies
  go.mod
  go.sum
Due: depscheck

bump tools libs
  tools/go.mod
  tools/go.sum
Due: none

Update dependencies 2026-07-14 (#306)
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Due: depscheck

bump golang.org/x/ libs
  go.mod
  go.sum
Due: depscheck

update quality.yml actions
  .github/workflows/quality.yml
Due: none

go-anxcloud v0.14.5
  go.mod
  go.sum
Due: depscheck

feat(resource/anxcloud_dns_record): update records in place
  CHANGELOG.md
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_test.go
  anxcloud/schema_dns_record.go
  docs/resources/dns_record.md
Due: golint, gofmt

huge commit
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  CHANGELOG.md
  Makefile
  README.md
  anxcloud/data_source_kubernetes_cluster.go
  anxcloud/data_source_network_prefix.go
  anxcloud/data_source_network_prefix_test.go
  anxcloud/kubernetes_api.go
  anxcloud/provider.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  anxcloud/utils.go
  docs/data-sources/kubernetes_cluster.md
  docs/data-sources/network_prefix.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_node_pool.md
  examples/data-sources/anxcloud_network_prefix/data-source.tf
  examples/main.tf
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
Due: golint, gofmt

remove workflow changes
  .github/workflows/quality.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  CHANGELOG.md
  Makefile
  README.md
  examples/main.tf
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
Due: none

cleanup
  anxcloud/data_source_kubernetes_cluster.go
  anxcloud/kubernetes_api.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/struct_kubernetes.go
Due: golint, gofmt

bump dependencies
  go.mod
  go.sum
  tools/go.mod
  tools/go.sum
Due: depscheck

k8s.io/client-go v0.36.3
  go.mod
  go.sum
Due: depscheck

first working setup
  CHANGELOG.md
  anxcloud/data_source_kubernetes_cluster.go
  anxcloud/provider.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_node_pool_network.go
  anxcloud/resource_kubernetes_node_pool_network_test.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/schema_kubernetes_node_pool_network.go
  anxcloud/struct_kubernetes.go
  docs/data-sources/kubernetes_cluster.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_node_pool.md
  docs/resources/kubernetes_node_pool_network.md
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
  examples/resources/anxcloud_kubernetes_node_pool_network/resource.tf
  tests/e2e/kubernetes/.gitignore
  tests/e2e/kubernetes/README.md
  tests/e2e/kubernetes/main.tf
  tests/e2e/kubernetes/outputs.tf
  tests/e2e/kubernetes/terraform.tfvars.example
  tests/e2e/kubernetes/variables.tf
  tests/e2e/kubernetes/versions.tf
Due: golint, gofmt

first full e2e reconcile test
  tests/e2e/kubernetes/.gitignore
  tests/e2e/kubernetes/README.md
  tests/e2e/kubernetes/data.tf
  tests/e2e/kubernetes/main.tf
  tests/e2e/kubernetes/outputs.tf
  tests/e2e/kubernetes/terraform.tfrc.example
  tests/e2e/kubernetes/terraform.tfvars.example
  tests/e2e/kubernetes/variables.tf
  tests/e2e/kubernetes/versions.tf
  tests/e2e/kubernetes/workload.tf
Due: none

e2e tested code
  CHANGELOG.md
  anxcloud/provider.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_node_pool_network.go
  anxcloud/resource_kubernetes_node_pool_network_test.go
  anxcloud/schema_kubernetes_node_pool_network.go
  anxcloud/struct_kubernetes.go
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_kubeconfig.md
  docs/resources/kubernetes_node_pool.md
  docs/resources/kubernetes_node_pool_network.md
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
  examples/resources/anxcloud_kubernetes_kubeconfig/resource.tf
  examples/resources/anxcloud_kubernetes_node_pool/resource.tf
  examples/resources/anxcloud_kubernetes_node_pool_network/resource.tf
Due: golint, gofmt

update the documented example files
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
  examples/resources/anxcloud_kubernetes_node_pool/resource.tf
  tests/e2e/kubernetes/README.md
  tests/e2e/kubernetes/data.tf
  tests/e2e/kubernetes/main.tf
  tests/e2e/kubernetes/terraform.tfrc.example
  tests/e2e/kubernetes/terraform.tfvars.example
  tests/e2e/kubernetes/variables.tf
Due: none

implement environment switches
  CHANGELOG.md
  Makefile
  anxcloud/data_source_kubernetes_cluster.go
  anxcloud/data_source_network_prefix.go
  anxcloud/data_source_network_prefix_test.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_kubeconfig.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  docs/data-sources/kubernetes_cluster.md
  docs/data-sources/network_prefix.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_kubeconfig.md
  docs/resources/kubernetes_node_pool.md
  examples/data-sources/anxcloud_network_prefix/data-source.tf
  examples/main.tf
  tests/e2e/kubernetes/README.md
  tests/e2e/kubernetes/main.tf
  tests/e2e/kubernetes/variables.tf
  tests/e2e/kubernetes/versions.tf
Due: golint, gofmt

implement kubeconfig datasource
  CHANGELOG.md
  anxcloud/data_source_kubernetes_kubeconfig.go
  anxcloud/data_source_kubernetes_kubeconfig_test.go
  anxcloud/provider.go
  anxcloud/resource_kubernetes_kubeconfig.go
  docs/data-sources/kubernetes_kubeconfig.md
  examples/data-sources/anxcloud_kubernetes_kubeconfig/data-source.tf
  tests/e2e/kubernetes/README.md
  tests/e2e/kubernetes/outputs.tf
  tests/e2e/kubernetes/variables.tf
  tests/e2e/kubernetes/versions.tf
  tests/e2e/kubernetes/workload.tf
Due: golint, gofmt

test e2e example
  tests/e2e/kubernetes/README.md
  tests/e2e/kubernetes/main.tf
  tests/e2e/kubernetes/outputs.tf
  tests/e2e/kubernetes/variables.tf
Due: none

update the e2e test example to include more fields
  tests/e2e/kubernetes/main.tf
Due: none

update the stale kubernetes resources to the current state (#321)
  CHANGELOG.md
  Makefile
  anxcloud/data_source_kubernetes_cluster.go
  anxcloud/data_source_kubernetes_kubeconfig.go
  anxcloud/data_source_kubernetes_kubeconfig_test.go
  anxcloud/data_source_network_prefix.go
  anxcloud/data_source_network_prefix_test.go
  anxcloud/provider.go
  anxcloud/resource_kubernetes_cluster.go
  anxcloud/resource_kubernetes_kubeconfig.go
  anxcloud/resource_kubernetes_node_pool.go
  anxcloud/resource_kubernetes_test.go
  anxcloud/schema_kubernetes.go
  anxcloud/struct_kubernetes.go
  anxcloud/utils.go
  docs/data-sources/kubernetes_cluster.md
  docs/data-sources/kubernetes_kubeconfig.md
  docs/data-sources/network_prefix.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_kubeconfig.md
  docs/resources/kubernetes_node_pool.md
  examples/data-sources/anxcloud_kubernetes_kubeconfig/data-source.tf
  examples/data-sources/anxcloud_network_prefix/data-source.tf
  examples/main.tf
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
  examples/resources/anxcloud_kubernetes_kubeconfig/resource.tf
  examples/resources/anxcloud_kubernetes_node_pool/resource.tf
  tests/e2e/kubernetes/.gitignore
  tests/e2e/kubernetes/README.md
  tests/e2e/kubernetes/data.tf
  tests/e2e/kubernetes/main.tf
  tests/e2e/kubernetes/outputs.tf
  tests/e2e/kubernetes/variables.tf
  tests/e2e/kubernetes/versions.tf
Due: golint, gofmt

resource/ip_address: retry delete on transient 'still assigned to a resource' conflict (#302)
  anxcloud/resource_ip_address.go
Due: golint, gofmt

feat(resource/anxcloud_dns_record): update records in place (#316)
  CHANGELOG.md
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_test.go
  anxcloud/schema_dns_record.go
  docs/resources/dns_record.md
Due: golint, gofmt

docs: improve Kubernetes resource examples
  CHANGELOG.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_node_pool.md
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
Due: none

kubernetes: replace add and remove kubeconfig with rotate kubeconfig
  anxcloud/resource_kubernetes_test.go
  anxcloud/struct_kubernetes.go
Due: golint, gofmt

fix: test
  anxcloud/resource_kubernetes_test.go
Due: golint, gofmt

docs: improve Kubernetes resource examples (#324)
  CHANGELOG.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_node_pool.md
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
Due: none

fix failing tests
  .github/workflows/quality.yml
  CHANGELOG.md
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_test.go
Due: golint, gofmt

revert in place dns update
  CHANGELOG.md
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_test.go
  anxcloud/schema_dns_record.go
  docs/resources/dns_record.md
Due: golint, gofmt

fix linter
  .github/workflows/quality.yml
Due: none

revert in place dns update (#328)
  .github/workflows/quality.yml
  CHANGELOG.md
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_test.go
  anxcloud/schema_dns_record.go
  docs/resources/dns_record.md
Due: golint, gofmt

Revert "fix failing tests"
  .github/workflows/quality.yml
  CHANGELOG.md
  anxcloud/resource_dns_record.go
  anxcloud/resource_dns_record_test.go
Due: golint, gofmt

Revert "docs: improve Kubernetes resource examples (#324)"
  CHANGELOG.md
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_node_pool.md
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
Due: none

kubernetes: replace request and remove kubeconfig with rotate kubeconfig (#325)
  anxcloud/resource_kubernetes_test.go
  anxcloud/struct_kubernetes.go
  docs/resources/kubernetes_cluster.md
  docs/resources/kubernetes_node_pool.md
  examples/resources/anxcloud_kubernetes_cluster/resource.tf
Due: golint, gofmt
